@page "/"
@using MatchGameBlazor.Services
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="row">
        @for (int i = 0; i < _gameController.ShuffledEmojis.Count; i++) {
            string emoji = _gameController.ShuffledEmojis.ElementAt(i);
            string description = $"button-{i}";
            bool isDisabled = _gameController.IsEmojiButtonDisabled.ElementAt((i));

            <div class="col-3">
                <button @onclick="() => _gameController.ButtonClick(emoji, description)"
                        disabled="@isDisabled" type="button" class="btn btn-outline-dark btn-emoji">
                    <h1>@emoji</h1>
                </button>
            </div>
        }
    </div>
    <div class="game-info">
        <div class="game-timer">
            <span>Actual time: @_gameController.ActualTimeString</span>
            <span>Best time: @_gameController.BestTimeString</span>
        </div>
        <div class="new-game">
            <button @onclick="NewGame" hidden="@_gameController.IsNewGameButtonHidden" type="button"
                    class="btn btn-outline-dark btn-newGame">
                New Game?
            </button>
        </div>
    </div>
</div>

@code {
    private readonly GameController _gameController = new();

    private void NewGame() {
        _gameController.SetUpGame();
    }

}