@page "/"
@using GoFishBlazor.Models
@using GoFishBlazor.Services
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>
<link rel="stylesheet" href="style.css"/>

<div class="container">
    <div class="row">

        <div class="left-container col-6">
            <div>
                <h3>Game progress</h3>
                <ul class="text-scroll rounded">
                    @foreach (string progress in _gameProgress) {
                        <li>@progress</li>
                    }
                </ul>
            </div>
            <div class="mt-5">
                <h3>Books</h3>
                <p class="text-scroll">Players books</p>
            </div>
        </div>

        <div class="col-1"></div>

        <div class="right-container col-4">
            <div>
                <h3>Your hand</h3>
                <select class="form-select" size="10" @bind="_cardSelected">
                    @for (int i = 0; i < Game.PlayerCardCount; i++) {
                        <option value="@i">@Game.PlayerCardName(i)</option>
                    }
                </select>
            </div>

            <div class="mt-5">
                <h3>Player to ask</h3>
                <select class="form-select" size="5" @bind="_opponentSelected">
                    @for (int i = 0; i < Game.OpponentCount; i++) {
                        <option value="@i">@Game.OpponentName(i)</option>
                    }
                </select>
            </div>

            <div class="mt-5">
                <h5>Value selected: @Game.PlayerCardValue(_cardSelected)</h5>
                <h5>Player selected: @Game.OpponentName(_opponentSelected)</h5>
            </div>

            <div>
                <button type="button" class="btn btn-primary btn-lg w-100 mt-5" @onclick="AskForCard">Ask For a
                    Card
                </button>
            </div>
        </div>

    </div>
</div>

@code{

    private const int OpponentCount = 3;
    private static readonly IEnumerable<string> ComputerPlayerNames = Enumerable.Range(1, OpponentCount).Select(i => $"Computer #{i}");
    private const string HumanName = "Diego";

    private static readonly Game Game = new(HumanName, ComputerPlayerNames);
    private int _cardSelected;
    private int _opponentSelected;
    private string[] _gameProgress = Game.GameProgress.Split(Environment.NewLine);


    private void AskForCard() {
        Game.PlayerAskForCard(_cardSelected, _opponentSelected);
        _gameProgress = Game.GameProgress.Split(Environment.NewLine);
    }

}