@page "/"
@using GameStore.Clients
@using GameStore.Models

<PageTitle>Game Store</PageTitle>

@if (_clientGames?.Count() > 0) {
    <table class="table table-stripped table-bordered table-hover text-center mt-3">
        <thead class="table-dark">
            <th>Id</th>
            <th>Name</th>
            <th>Genre</th>
            <th>Price</th>
            <th>Release date</th>
            <th></th>
        </thead>
        <tbody>
            @foreach (GameSummary? game in _clientGames) {
                <tr>
                    <td>@game.Id</td>
                    <td>@game.Name</td>
                    <td>@game.Genre</td>
                    <td>@game.Price.ToString("C2")</td>
                    <td>@game.ReleaseDate</td>
                </tr>
            }
        </tbody>
    </table>
} else {
    <p><em>Loading..</em></p>
}

@code{

    private IEnumerable<GameSummary>? _clientGames;
    
    protected override void OnInitialized() {
        _clientGames = GamesClient.GetGames();
    }

}